<!DOCTYPE html>
<html ng-app="chatApp">
<head>
<meta charset="ISO-8859-1">
<title>Login</title>
<script src="js/jquery-1.11.0.js"></script>
<script src="lib/angular.js"></script>
<script src="js/angularDemo.js"></script>
<script src="js/login.js"></script>
</head>
<body>
<div ng-controller="loginPart" ng-init=openSocket()>

Username:<br>
<input type="text" id="username" ng-model="user.username"><br>
Password:<br>
<input type="password" id="password" ng-model="user.password">
<br><br>
<button ng-click="send()">Login</button>
<a href="register.html">Register</a>
</div>

</body>
</html>